%% auther: xyao
%% email: jiexiaowen@gmail.com
%% date: 2011.06.12

[
    {
        kernel,
        [
            {global_groups, [{shenhai001NnJQua27Qal82zHpz,['shenhaitest0010selfkf@127.0.0.1']}]},
            {inet_dist_listen_min,40001},
            {inet_dist_listen_max,40100},
            {error_logger,tty}
        ]
    },

    {
        sasl,
        [
            {sasl_error_logger, false},
            {errlog_type, error},
            {error_logger_mf_dir, "../logs"},
            {error_logger_mf_maxbytes, 1048760},
            {error_logger_mf_maxfiles, 10}
        ]
    },

    {
        gsrv,
        [
            {ticket, "Vss829JAlZnak2Ap2Cwiw"},
            {db_host, "127.0.0.1"},
            {db_port, 3306},
            {db_user, "root"},
            {db_pass, "42223c4b21a0bfd5"},
            {db_name, "game_s1"},
            {db_encode, utf8},
            {db_connections, 100},
            {db_max_connections, 125},
            {log_level, 5}, %% log_level
            {log_path, "../logs"}, %% log_path
            {cls_type, 1},
            {cls_cookie, qudaolj334NnJQua27Qal82zHpz },
            {cls_node, 'qudaoljkf1@127.0.0.1' },
            {chat_monitor, 1},  %% 是否监控玩家聊天0:否;1:是
            {error_monitor, 1}, %% 是否监控错误日志0:否;1:是
            {server_id, 4543},
            {platform, "qudaolj"},
            {server_num, 9001},
            {merge_server_ids, [4543]}
        ]
    }
].

%% File end.
