%% OpenServerDate: 2000-00-00

[
    {
        kernel,
        [
            {error_logger,tty},
            {inet_dist_listen_min,40001},
            {inet_dist_listen_max,40100}
        ]
    },
    {
        sasl,
        [
            {sasl_error_logger, false},
            {errlog_type, error},
            {error_logger_mf_dir, "../logs"},
            {error_logger_mf_maxbytes, 1048760},
            {error_logger_mf_maxfiles, 10}
        ]
    },
    {
        gsrv,
        [
            {ticket, "Rj7LC3Us81Oq5KiLwV"},
            {db_host, "127.0.0.1"},
            {db_port, 3306},
            {db_user, "root"},
            {db_pass, "42223c4b21a0bfd5"},
            {db_name, "game_s1"},
            {db_encode, utf8},
            {db_connections, 90},
            {db_max_connections, 115},
            {log_level, 5},
            {log_path, "../logs"},
            {cls_type, 0},
            {cls_cookie, qudaolj334NnJQua27Qal82zHpz},
            {cls_node, 'qudaoljkf1@127.0.0.1'},
            {proto, tcp},      %% 协议类型 (tcp|ssl)
            {certfile, "/usr/local/nginx/conf/ssl/jiuzhouyu/jzy.suyougame.cn.pem"}, %% 如果proto是ssl需要证书文件路径
            {keyfile, "/usr/local/nginx/conf/ssl/jiuzhouyu/jzy.suyougame.cn.key"},  %% 如果proto是ssl需要私钥文件路径
            {cacertfile, "/usr/local/nginx/conf/ssl/95zy.top_bundle.crt"},
            {chat_monitor, 1},
            {server_id, 1 },
            {platform, "qudaolj"},
            {server_num, 1},
            {merge_server_ids, [1]}
        ]
    }
].

%% File end.